<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <title>check these new products</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/img/<%= smd_[6].link %>">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>

    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340"><%= smd_[7].link %></a>
                </div>
                <div>
<%
                        smd_.forEach(smd=>{
                            if ( smd.link !== "" && (smd.name == "tiktok" || smd.name == "facebook" || smd.name == "instagram" || smd.name == "youtube") ) {
%>
                        <a class="text-light" href="<%= smd.link %>" target="_blank"><i class="fab fa-<%= smd.name %> fa-sm fa-fw"></i></a>
<%
                            }
                        })
%>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->

    

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="/">
                <img src="/img/<%= smd_[4].link %>" alt="" srcset="">
            </a>

            <div id="container">
                
                <div id="cursor"></div>
                <div id="text"></div>
                <div id="text">الشحن</div>
            </div>


        </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <h1 class="h1 text-success mine"><b>الجديد</b></h1>
                            <div class="hdn add caroselll">
                                <img class="img-fluid" src="/myimages/prr/<%= prrs[prrs.length-1].image.split(' aissa ')[0].replace('publicmyimagesprr', '') %>" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h2 mnTTl"><%= prrs[prrs.length-1].Mini_title %></h1>
                                <p class="desKK">
                                    <u style="display: none;"><%= prrs[prrs.length-1].description %></u>
                                </p>
                                <%
                                    if ( parseInt(prrs[prrs.length-1].discount) === 0 ) {
                                %>
                                <p><%= prrs[prrs.length-1].price %>dh</p>
                                <%
                                    }else{
                                %>
                                <div style="display: flex;">
                                    <p style="color: #999999;text-decoration: line-through;"><%= prrs[prrs.length-1].price %></p>
                                    <p style="color: white;background: #ffb500;padding: 2px;border-radius: 8px;"><%= parseInt(prrs[prrs.length-1].price * prrs[prrs.length-1].discount)/100 %>dh</p>
                                </div>
                                <%
                                    }
                                %>
                                <p class="text-center">
                                    <a href="/product/<%= prrs[prrs.length-1].id %>">رؤية المزيد</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <h1 class="h1 text-success mine"><b>الجديد</b></h1>
                            <div class="hdn add caroselll">
                                <img class="img-fluid" src="/myimages/prr/<%= prrs[prrs.length-2].image.split(' aissa ')[0].replace('publicmyimagesprr', '') %>" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h2 mnTTl"><%= prrs[prrs.length-2].Mini_title %></h1>
                                <p class="desKK">
                                    <u style="display: none;"><%= prrs[prrs.length-2].description %></u>
                                </p>
                                <%
                                    if ( parseInt(prrs[prrs.length-2].discount) == 0 ) {
                                %>
                                <p><%= prrs[prrs.length-2].price %>dh</p>
                                <%
                                    }else{
                                %>
                                <div style="display: flex;">
                                    <p style="color: #999999;text-decoration: line-through;"><%= prrs[prrs.length-2].price %></p>
                                    <p style="color: white;background: #ffb500;padding: 2px;border-radius: 8px;"><%= parseInt(prrs[prrs.length-2].price * prrs[prrs.length-2].discount)/100 %>dh</p>
                                </div>
                                <%
                                    }
                                %>
                                <p class="text-center">
                                    <a href="/product/<%= prrs[prrs.length-2].id %>">رؤية المزيد</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <h1 class="h1 text-success mine"><b>الجديد</b></h1>
                            <div class="hdn add caroselll">
                                <img class="img-fluid" src="/myimages/prr/<%= prrs[prrs.length-3].image.split(' aissa ')[0].replace('publicmyimagesprr', '') %>" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h2 mnTTl"><%= prrs[prrs.length-3].Mini_title %></h1>
                                <p class="desKK">
                                    <u style="display: none;"><%= prrs[prrs.length-3].description %></u>
                                </p>
                                <%
                                    if ( parseInt(prrs[prrs.length-3].discount) == 0 ) {
                                %>
                                <p><%= prrs[prrs.length-3].price %>dh</p>
                                <%
                                    }else{
                                %>
                                <div style="display: flex;">
                                    <p style="color: #999999;text-decoration: line-through;"><%= prrs[prrs.length-3].price %></p>
                                    <p style="color: white;background: #ffb500;padding: 2px;border-radius: 8px;"><%= parseInt(prrs[prrs.length-3].price * prrs[prrs.length-3].discount)/100 %>dh</p>
                                </div>
                                <%
                                    }
                                %>
                                <p class="text-center">
                                    <a href="/product/<%= prrs[prrs.length-3].id %>">رؤية المزيد</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">تصنيفات الشهر</h1>
            </div>
        </div>
        <div class="row">
<%
            
            catyy_g.forEach(caty=>{
                if ( caty.chosen == "true" ) {
                    var prr_s = prrs.sort(() => Math.random() - 0.5);
                    var imgEmpty;
                    prr_s.forEach(p=>{
                        if ( p.name_of_pr.split(',').includes(caty.name) ){
                            imgEmpty = p.image.split(' aissa ')[0].replace('publicmyimagesprr', "")
                        }
                    })
%>
            <div class="col-12 col-md-4 p-5 mt-3">
                <div class="hdn add">
                    <a target="_blank" href="/category/<%= caty.name %>"><img src="/myimages/prr/<%= imgEmpty %>" class="rounded-circle img-fluid border"></a>
                </div>
                <h5 class="text-center mt-3 mb-3"> <%= caty.name %> </h5>
                <p class="text-center"><a href="/category/<%= caty.name %>" class="btn btn-success">تصفح</a></p>
            </div>
<%
                }
            })
%>
        </div>
    </section>
    <!-- End Categories of The Month -->

    <a href="/seeMore" target="_blank">
        <button class="button-32" role="button">
            رؤية منتجات أخرى
        </button>
    </a>
    <br>
    <br>
    

    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">الأكثر مبيعًا وتصفحًا</h1>
                </div>
            </div>
            <div class="row">
<%
            const weight = 5;
            var sortedProducts = prrs.sort(() => Math.random() - 0.5);
            sortedProducts = sortedProducts.sort((a, b) => {
                return (b.sold_ * weight) - (b.view_s) - (a.sold_ * weight) + (a.view_s);
            });
            sortedProducts = sortedProducts.sort((a, b) => {
                if (b.sold_ !== a.sold_) {
                return b.sold_ - a.sold_;
                }
                return b.view_s - a.view_s;
            });
            var usePrrs = [
                sortedProducts[0],
                sortedProducts[1],
                sortedProducts[2]
            ]
            usePrrs.forEach(prr=>{
%>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="/product/<%= prr.id %>">
                            <div class="hdn add sv">
                                <img src="/myimages/prr/<%= prr.image.split(' aissa ')[0].replace('publicmyimagesprr', '') %>" class="card-img-top" alt="...">
                            </div>
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                
                                <%
                                    if ( parseInt(prr.discount) == 0 ) {
                                %>
                                <li class="text-muted text-right"><%= prr.price %>dh</li>
                                <%
                                    }else{
                                %>
                                <div style="display: flex;">
                                    <p style="color: #999999;text-decoration: line-through;"><%= prr.price %></p>
                                    <p style="color: white;background: #ffb500;padding: 2px;border-radius: 8px;"><%= parseInt(prr.price * prr.discount)/100 %>dh</p>
                                </div>
                                <%
                                    }
                                %>
                            </ul>
                            <a href="/product/<%= prr.id %>" class="h2 text-decoration-none text-dark sghir"><%= prr.Mini_title %></a>
                            <p class="card-text desKK">
                                <u style="display: none;"><%= prr.description%></u>
                            </p>
                        </div>
                    </div>
                </div>
<%
            })
%>
            </div>
        </div>
    </section>
    <!-- End Featured Product -->


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    
                    <a class="navbar-brand text-success logo h1 align-self-center" href="/">
                        <img src="/img/<%= smd_[5].link %>" alt="" srcset="">
                    </a>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:<%= smd_[7].link %>"><%= smd_[7].link %></a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light sghir">المنتجات</h2>
                    <ul class="list-unstyled text-light footer-link-list">
<%
                    var category = catyy_g.sort(() => Math.random() - 0.5);
                    var nCaty = 0
                    category.forEach(category1=>{
                        if ( nCaty < 7 ) {
                            nCaty++
%>
                        <li><a class="text-decoration-none" href="/category/<%= category1.name %>"><%= category1.name %></a></li>
<%
                        }
                    })
%>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <%
                        smd_.forEach(smd=>{
                            if ( smd.link !== "" && (smd.name == "tiktok" || smd.name == "facebook" || smd.name == "instagram" || smd.name == "youtube") ) {
                        %>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="<%= smd.link %>"><i class="fab fa-<%= smd.name %> -f fa-lg fa-fw"></i></a>
                        </li>
                        <%
                            }
                        })
                        %>
                    </ul>
                </div>
            </div>
        </div>


    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/templatemo.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/desK.js"></script>
    <!-- End Script -->
</body>

</html>