
<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>dashboard *** </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/ghhg.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon1.ico">
  
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/statistics.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  
    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    
  
    <i class="bi bi-brush-fill"></i>
    <i class="bi bi-trash"></i>
  
  
  </head>
  <body>
  <!-- partial:index.partial.html -->
  <div class="app-container">
    <div class="sidebar">
      <div class="sidebar-header">
        <div class="app-icon">
           <svg viewBox="0 0 300.000000 158.000000">  <g fill="currentColor" transform="translate(0.000000,158.000000) scale(0.050000,-0.050000)"> <path d="M1990 3072 c-196 -85 -97 -387 111 -342 169 37 189 275 28 342 -79 33 -64 33 -139 0z"/> <path d="M2363 3069 c-118 -50 -141 -195 -45 -291 159 -158 397 66 252 238 -59 70 -125 87 -207 53z"/> <path d="M1500 2633 c-500 -108 -735 -652 -411 -950 57 -53 114 -85 164 -93 42 -7 86 -16 97 -18 11 -3 -20 -26 -70 -51 -148 -75 -215 -185 -140 -231 38 -24 20 -65 -40 -90 -70 -29 -81 -65 -15 -52 25 5 84 15 132 21 180 25 398 176 482 336 l46 85 299 -6 c264 -6 308 -2 378 32 77 39 80 39 153 2 112 -58 576 -55 697 3 l84 41 67 -41 c93 -57 510 -60 619 -5 67 34 73 34 129 0 73 -44 333 -49 409 -7 42 23 57 23 104 -1 192 -99 503 8 575 198 33 89 28 854 -6 854 -48 0 -93 -71 -93 -147 0 -74 -1 -75 -67 -62 -114 21 -136 -21 -133 -258 3 -280 5 -269 -41 -294 -113 -60 -139 8 -139 361 0 255 -5 320 -27 320 -43 0 -94 -69 -106 -146 -11 -67 -15 -70 -77 -60 -92 15 -114 -33 -98 -211 22 -229 -34 -326 -144 -253 -50 32 -50 33 -44 311 5 255 3 279 -29 279 -55 0 -115 -74 -115 -142 0 -56 -5 -61 -50 -50 -93 23 -137 -49 -121 -199 21 -189 -18 -222 -248 -216 -228 6 -221 -7 -221 421 0 276 -5 346 -27 346 -48 0 -93 -71 -93 -147 0 -74 -1 -75 -67 -62 -115 21 -133 -17 -133 -280 0 -284 5 -279 -266 -274 -267 6 -254 -15 -254 417 0 294 -4 346 -30 346 -50 0 -110 -76 -110 -140 0 -55 -6 -60 -66 -60 -103 0 -114 -24 -114 -265 0 -303 7 -295 -267 -295 -291 0 -273 -27 -273 404 l0 356 -95 -2 c-52 -1 -145 -12 -205 -25z m-29 -533 l-1 -200 -81 0 c-175 0 -179 204 -8 348 90 75 92 72 90 -148z m203 -228 c-2 -11 10 -21 26 -21 52 -2 23 -113 -46 -174 -35 -30 -70 -50 -78 -44 -9 5 -16 -3 -16 -18 0 -15 -10 -37 -23 -50 -31 -31 -104 7 -89 47 6 16 -7 47 -28 68 -22 22 -31 41 -20 43 11 1 27 3 35 5 28 4 184 138 176 151 -4 7 9 12 29 12 20 0 36 -8 34 -19z m872 -26 c-6 -15 4 -26 22 -26 18 0 32 -11 32 -25 1 -17 7 -15 20 5 11 17 20 21 20 10 0 -11 9 -6 20 10 15 24 19 24 20 3 0 -21 7 -22 27 -6 38 32 53 8 53 -80 0 -88 -21 -97 -74 -32 -38 45 -152 115 -189 115 -11 0 -32 12 -47 28 -24 23 -18 27 39 25 46 -1 63 -9 57 -27z"/> <path d="M2742 1408 c-126 -106 -53 -308 112 -308 172 0 237 252 85 331 -81 42 -127 36 -197 -23z"/> <path d="M3146 1440 c-57 -23 -86 -80 -86 -170 0 -155 177 -227 287 -117 139 138 -17 361 -201 287z"/> <path d="M1350 1081 c-223 -52 -337 -224 -338 -511 -1 -346 128 -510 404 -510 141 0 137 -3 128 99 l-8 81 -95 0 c-111 0 -165 46 -199 170 -72 262 27 503 203 495 89 -4 90 -3 102 70 16 101 -54 138 -197 106z"/> <path d="M1726 1086 c-33 -6 -48 -28 -58 -82 -8 -41 -31 -123 -51 -182 -46 -135 -47 -126 18 -118 47 5 66 29 128 156 122 251 121 257 -37 226z"/> <path d="M3000 990 c0 -102 -3 -109 -45 -105 -68 7 -68 -152 0 -161 44 -7 45 -14 45 -236 0 -294 45 -390 196 -420 86 -17 95 96 14 172 -47 44 -50 58 -50 263 l0 217 50 0 c46 0 50 7 50 90 0 83 -4 90 -50 90 -44 0 -50 9 -50 69 0 73 -55 131 -124 131 -30 0 -36 -18 -36 -110z m102 -228 c-16 -45 -19 -38 -19 48 0 84 3 92 19 52 12 -31 12 -67 0 -100z"/> <path d="M4740 1000 c0 -93 -3 -100 -50 -100 -46 0 -50 -7 -50 -90 0 -83 4 -90 50 -90 l50 0 0 -242 c0 -266 18 -325 121 -385 133 -79 198 22 89 139 -47 51 -50 67 -50 271 l0 217 50 0 c46 0 50 7 50 90 0 83 -4 90 -50 90 -43 0 -50 9 -50 67 0 76 -50 133 -117 133 -38 0 -43 -11 -43 -100z"/> <path d="M3522 865 c-197 -109 -208 -649 -16 -766 229 -140 384 10 384 372 0 356 -148 515 -368 394z m194 -372 c6 -226 -8 -273 -77 -273 -69 0 -99 77 -99 256 0 205 19 249 106 240 l64 -6 6 -217z"/> <path d="M4019 885 c-1 -8 0 -159 1 -334 4 -443 35 -489 335 -486 l165 2 0 416 c0 456 -3 465 -116 386 -42 -30 -44 -45 -44 -309 0 -326 -25 -382 -141 -319 -36 19 -39 44 -39 300 0 252 -4 283 -40 319 -39 39 -119 55 -121 25z"/> <path d="M1970 792 c-223 -98 -265 -515 -69 -680 63 -53 342 -76 386 -32 22 23 -21 150 -49 143 -138 -37 -239 -2 -267 92 -14 44 -11 45 168 45 l181 0 0 115 c-1 260 -158 402 -350 317z m149 -171 c47 -87 28 -121 -69 -121 -89 0 -90 1 -78 55 26 107 106 143 147 66z"/> <path d="M2529 790 c-177 -90 -170 -288 15 -421 140 -101 115 -200 -39 -153 -85 26 -81 28 -104 -53 -23 -81 13 -103 167 -103 281 0 345 295 98 451 -121 77 -116 139 13 139 88 0 154 85 105 134 -34 34 -194 37 -255 6z"/> </g> </svg> 
        </div>
      </div>
      <ul class="sidebar-list">
        <li class="sidebar-list-item">
          <a href="/<%=my_link%>/published">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.5pc" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"/><line x1="3" y1="6" x2="21" y2="6"/><path d="M16 10a4 4 0 0 1-8 0"/></svg>
            <span>المنتجات</span>
          </a>
        </li>
        <li class="sidebar-list-item">
          <a href="/<%=my_link%>/categories">
            <svg width="1.5pc" viewBox="0 0 130.000000 130.000000">  <g transform="translate(0.000000,130.000000) scale(0.100000,-0.100000)" fill="currentColor"> <path d="M20 1280 c-19 -19 -20 -33 -20 -270 0 -237 1 -251 20 -270 19 -19 33 -20 269 -20 214 0 252 2 265 16 24 23 24 525 0 548 -13 14 -51 16 -265 16 -236 0 -250 -1 -269 -20z"/> <path d="M746 1284 c-24 -23 -24 -525 0 -548 13 -14 51 -16 265 -16 236 0 250 1 269 20 19 19 20 33 20 270 0 237 -1 251 -20 270 -19 19 -33 20 -269 20 -214 0 -252 -2 -265 -16z"/> <path d="M20 560 c-19 -19 -20 -33 -20 -270 0 -239 1 -251 20 -270 20 -20 30 -21 276 -18 213 3 256 5 264 18 6 8 10 128 10 272 0 220 -2 259 -16 272 -13 14 -51 16 -265 16 -236 0 -250 -1 -269 -20z"/> <path d="M746 564 c-14 -13 -16 -52 -16 -272 0 -144 4 -264 10 -272 8 -13 51 -15 264 -18 246 -3 256 -2 276 18 19 19 20 31 20 270 0 237 -1 251 -20 270 -19 19 -33 20 -269 20 -214 0 -252 -2 -265 -16z"/> </g> </svg> 
            <span>الفئاتtags</span>
          </a>
        </li>
        <li class="sidebar-list-item">
          <a href="/<%=my_link%>/discounts">
            <svg width="1.5pc" fill="currentColor" class="feather feather-pie-chart" viewBox="0 0 29.872 29.872">
              <g>
                <g>
                  <path d="M26.761,15.56L16.861,5.66c-0.829-0.83-2.17-1.3-3.335-1.171L9.814,4.902l0.548-3.758    c0.079-0.546-0.299-1.054-0.846-1.134C8.97-0.068,8.462,0.308,8.382,0.855L7.759,5.13L5.965,5.329    c-1.386,0.155-2.714,1.481-2.87,2.872l-0.839,7.558c-0.13,1.166,0.34,2.507,1.17,3.337l9.899,9.899    c1.17,1.169,3.072,1.169,4.242,0l9.192-9.191C27.93,18.633,27.93,16.729,26.761,15.56z M7.878,11.245    c0.324,0.047,0.636-0.066,0.852-0.283c0.147-0.146,0.25-0.34,0.282-0.562L9.26,8.697c0.06,0.047,0.122,0.089,0.177,0.145    c0.781,0.781,0.78,2.047,0,2.828c-0.781,0.781-2.047,0.782-2.829,0c-0.78-0.78-0.78-2.047,0-2.828    c0.199-0.199,0.43-0.347,0.675-0.443l-0.25,1.713C6.954,10.658,7.332,11.165,7.878,11.245z M16.315,21.407l-1.012,1.011    l-2.079-9.803l1.019-1.02L16.315,21.407z M15.974,16.596c-0.016-0.565,0.206-1.077,0.665-1.535    c0.441-0.442,0.915-0.656,1.421-0.643c0.505,0.015,0.995,0.259,1.472,0.733c0.488,0.489,0.74,1.015,0.758,1.578    c0.017,0.562-0.203,1.073-0.658,1.529c-0.423,0.422-0.897,0.629-1.424,0.618c-0.525-0.01-1.017-0.24-1.47-0.693    C16.244,17.689,15.988,17.16,15.974,16.596z M13.581,17.422c0.015,0.562-0.207,1.069-0.662,1.524    c-0.423,0.423-0.897,0.629-1.424,0.62c-0.526-0.01-1.016-0.241-1.469-0.694c-0.494-0.494-0.749-1.023-0.765-1.589    c-0.015-0.564,0.207-1.076,0.665-1.535c0.439-0.438,0.914-0.65,1.424-0.636c0.51,0.015,1.002,0.26,1.477,0.735    C13.316,16.336,13.567,16.861,13.581,17.422z M26.054,19.095l-9.192,9.191c-0.779,0.78-2.048,0.78-2.828,0l-9.899-9.898    c-0.606-0.607-0.979-1.666-0.883-2.52l0.838-7.556c0.054-0.471,0.292-0.939,0.672-1.319c0.38-0.38,0.849-0.618,1.316-0.67    l1.533-0.17L7.462,7.176L6.189,7.316C5.642,7.377,5.145,7.874,5.085,8.421l-0.839,7.559c-0.062,0.547,0.207,1.312,0.596,1.701    l9.899,9.898c0.389,0.39,1.024,0.39,1.413,0l9.192-9.191c0.39-0.39,0.39-1.025,0-1.414l-9.898-9.899    c-0.389-0.389-1.154-0.658-1.701-0.596L9.518,6.947l0.148-1.021l3.972-0.441c0.852-0.095,1.911,0.276,2.518,0.883l9.899,9.899    C26.833,17.046,26.833,18.315,26.054,19.095z"/>
                  <path d="M18.951,17.479c0.393-0.393,0.312-0.864-0.24-1.417c-0.257-0.257-0.509-0.403-0.754-0.439    c-0.246-0.036-0.455,0.032-0.626,0.203c-0.4,0.4-0.32,0.881,0.239,1.442C18.101,17.8,18.561,17.869,18.951,17.479z"/>
                  <path d="M10.631,16.502c-0.403,0.403-0.325,0.886,0.236,1.446c0.53,0.53,0.987,0.604,1.371,0.22    c0.392-0.392,0.312-0.864-0.24-1.417C11.459,16.212,11.004,16.129,10.631,16.502z"/>
                </g>
              </g>
              </svg>
            <span>التخفيضات</span>
          </a>
        </li>
        <li class="sidebar-list-item">
          <a href="/<%=my_link%>/Sales">
              <svg width="1.5pc" viewBox="0 0 300.000000 300.000000">  <g transform="translate(0.000000,300.000000) scale(0.050000,-0.050000)" fill="currentColor" > <path d="M2607 5929 c0 -15 8 -22 19 -15 12 7 15 -8 7 -41 -11 -43 -7 -53 22 -51 20 1 25 5 10 11 -17 7 -19 21 -6 45 13 25 9 40 -17 56 -27 17 -35 16 -35 -5z"/> <path d="M4260 5407 c-389 -37 -450 -94 -321 -302 l59 -95 -54 -28 c-50 -26 -2188 -1243 -2199 -1252 -9 -7 85 -170 95 -165 31 14 1952 1112 2077 1187 182 108 169 109 237 -17 123 -230 195 -203 466 175 231 323 249 385 138 478 -70 60 -74 60 -498 19z m312 -242 c-40 -52 -110 -151 -157 -220 -101 -151 -94 -150 -160 -20 -29 58 -76 143 -104 189 l-52 83 116 13 c63 7 165 20 225 29 218 32 214 34 132 -74z"/> <path d="M5894 5407 c-7 -7 -3 -30 9 -52 19 -37 16 -40 -31 -31 -44 9 -52 3 -52 -37 0 -26 9 -47 19 -47 11 0 15 14 8 30 -7 19 1 30 21 30 29 0 41 -24 34 -66 -2 -10 5 -12 14 -7 9 6 14 49 10 96 -7 90 -12 104 -32 84z"/> <path d="M5498 5170 c-9 -46 -3 -111 11 -115 25 -7 31 63 7 77 -13 8 -10 19 7 30 20 13 20 17 2 18 -14 0 -26 -4 -27 -10z"/> <path d="M5951 5141 c-8 -12 -24 -16 -37 -8 -13 7 -17 6 -9 -3 8 -9 6 -26 -4 -39 -12 -14 -12 -34 0 -52 14 -23 18 -19 19 17 0 30 8 41 23 32 14 -8 18 -5 10 7 -7 12 -2 26 12 31 14 4 19 15 12 23 -7 7 -19 4 -26 -8z"/> <path d="M5844 5032 c8 -9 5 -35 -6 -56 -18 -34 -16 -37 15 -19 40 20 50 23 97 23 17 0 30 14 30 31 0 29 -3 29 -32 -1 -30 -29 -36 -29 -75 4 -24 19 -37 28 -29 18z"/> <path d="M5903 4858 c-19 -51 -6 -158 20 -158 10 0 12 24 4 53 -11 44 -7 51 20 41 18 -7 33 -5 33 4 0 10 -14 23 -32 30 -18 7 -27 25 -21 42 7 17 7 30 2 30 -6 0 -17 -19 -26 -42z"/> <path d="M4610 4297 c-116 -64 -109 55 -110 -1861 l0 -1754 48 -56 49 -56 371 0 c359 0 372 1 416 46 l46 45 5 1745 c6 1871 8 1831 -97 1885 -69 36 -664 41 -728 6z m640 -267 l0 -90 -285 0 -285 0 0 90 0 90 285 0 285 0 0 -90z m-10 -1780 l0 -1490 -110 -2 c-137 -3 -160 -3 -315 0 l-125 2 0 1490 0 1490 275 0 275 0 0 -1490z"/> <path d="M4861 2075 c1 -718 9 -1287 18 -1264 9 22 33 54 53 70 29 24 33 24 19 1 -13 -22 -9 -26 15 -16 21 8 44 -3 63 -31 28 -40 31 84 31 1251 l0 1294 -100 0 -100 0 1 -1305z"/> <path d="M940 4037 l0 -97 -82 0 c-144 0 -198 -78 -198 -286 0 -251 28 -274 333 -274 l227 0 0 -96 0 -95 -282 0 -283 1 -2 -95 -3 -95 145 0 145 0 0 -101 0 -101 94 6 95 6 -6 95 -6 95 81 0 c163 0 255 167 214 386 -27 144 -87 174 -345 174 l-227 0 0 90 0 90 290 0 290 0 0 100 0 100 -152 0 -152 0 7 95 7 95 -95 2 -95 3 0 -98z"/> <path d="M3275 3538 c-95 -55 -95 -48 -95 -1476 0 -996 6 -1354 24 -1393 43 -95 103 -109 467 -109 l332 0 59 58 58 59 0 1389 0 1389 -53 52 -52 53 -353 -1 c-202 0 -367 -9 -387 -21z m665 -253 l0 -95 -280 0 -280 0 0 95 0 95 280 0 280 0 0 -95z m0 -1405 l0 -1120 -90 0 -90 0 0 940 0 940 -100 0 -100 0 0 -940 0 -940 -90 0 -90 0 0 1120 0 1120 280 0 280 0 0 -1120z m-204 -1088 c-5 -34 -20 -42 -76 -41 -88 1 -103 52 -37 122 l46 50 37 -45 c20 -25 33 -63 30 -86z"/> <path d="M1976 2789 c-96 -52 -96 -52 -96 -1109 l0 -1003 58 -59 59 -58 332 0 c537 0 494 -104 487 1157 l-6 986 -65 59 -66 58 -324 -1 c-248 0 -338 -8 -379 -30z m644 -259 l0 -90 -280 0 -280 0 0 90 0 90 280 0 280 0 0 -90z m0 -1020 l0 -750 -90 0 -90 0 0 560 0 560 -100 0 -100 0 0 -560 0 -560 -90 0 -90 0 0 739 0 740 275 6 c151 3 277 8 280 11 3 2 5 -333 5 -746z m-280 -632 c0 -12 13 -17 30 -11 29 11 68 -76 44 -99 -70 -71 -178 -6 -137 83 23 50 63 67 63 27z"/> <path d="M618 2001 l-60 -60 6 -640 c8 -809 -43 -731 468 -731 l371 0 49 56 48 56 0 631 0 630 -58 59 -59 58 -353 0 -353 0 -59 -59z m692 -219 l0 -87 -275 -3 -275 -2 0 96 0 95 275 -5 275 -6 0 -88z m0 -647 l0 -365 -120 -12 c-66 -7 -189 -8 -274 -2 l-154 10 -6 367 -6 367 280 0 280 0 0 -365z"/> <path d="M939 1133 c-5 -5 -6 -84 -2 -176 4 -120 12 -156 26 -132 27 49 109 44 147 -10 29 -42 31 -34 26 135 l-6 180 -91 6 c-50 3 -95 2 -100 -3z"/> </g> </svg> 
              <span>المبيعات</span>
              <%
              var sales_num_much = 0;
              sales.forEach((sale)=>{
                if ( sale.seen == "false" ) {
                  sales_num_much++
                }
              }) %>
  
              <% if ( sales_num_much !== 0 ) { %>
                <p class="notification"><%= sales_num_much %></p>
              <% } %>
          </a>
        </li>
        <%
        var therIs = false;
        sales.forEach((ss)=>{
          if ( ss.confirmed_date !== "ليس بعد" ) { therIs = true }
        })
        if ( therIs ) {  %>
        <li class="sidebar-list-item">
          <a href="/<%=my_link%>/confirmed_slz">
            <svg width="1.5pc" fill="currentColor" viewBox="0 0 137.000000 130.000000">  <g transform="translate(0.000000,130.000000) scale(0.100000,-0.100000)" > <path d="M416 1200 l-58 -99 -97 -21 c-140 -31 -133 -28 -127 -58 3 -15 8 -66 12 -115 l6 -87 -71 -79 c-39 -44 -71 -85 -71 -91 0 -6 32 -47 71 -91 l72 -79 -7 -92 c-4 -51 -10 -103 -13 -115 -5 -24 -10 -22 129 -53 l97 -21 57 -99 57 -99 31 13 c205 89 166 86 312 23 l81 -35 58 98 57 99 97 21 c143 32 134 27 127 63 -3 18 -8 69 -12 115 l-7 82 72 79 c39 44 71 85 71 91 0 6 -32 47 -71 91 l-72 79 7 92 c4 51 10 103 13 115 5 24 11 22 -129 53 l-96 22 -58 98 -57 98 -81 -35 c-146 -63 -107 -66 -312 23 l-31 13 -57 -99z m511 -325 c26 -18 43 -64 33 -90 -13 -32 -281 -346 -306 -357 -12 -6 -33 -8 -46 -4 -32 8 -190 152 -205 187 -16 37 -1 75 39 95 38 20 62 11 122 -42 26 -24 51 -44 55 -44 4 0 52 54 106 121 55 66 108 127 119 135 26 18 56 18 83 -1z"/> </g> </svg> 
            <span>confirmed sales</span>
          </a>
        </li>
        <%  }  %>
  <hr>
        <li class="sidebar-list-item">
          <a href="/<%=my_link%>/smd">
            <svg width="2.2pc" fill="currentColor"  viewBox="0 0 256.000000 256.000000">
              <g transform="translate(0.000000,256.000000) scale(0.100000,-0.100000)"> <path d="M1605 2438 c-22 -19 -31 -45 -55 -153 -16 -71 -30 -145 -30 -163 0 -38 37 -82 70 -82 19 0 20 -4 14 -55 -4 -35 -3 -55 3 -55 6 0 46 16 89 36 l78 35 117 -26 c109 -24 120 -25 148 -11 34 18 39 32 76 204 29 133 27 164 -8 186 -20 14 -421 106 -459 106 -9 0 -29 -10 -43 -22z m224 -132 c8 -10 23 -13 47 -9 55 9 89 -36 68 -91 -9 -22 -133 -101 -144 -90 -5 5 -25 36 -45 69 -38 63 -40 98 -8 123 22 16 68 15 82 -2z"/> <path d="M1144 2126 c-62 -28 -97 -104 -76 -165 9 -26 6 -37 -26 -93 -49 -84 -170 -202 -268 -260 -43 -26 -181 -95 -306 -152 -125 -57 -240 -114 -255 -126 -39 -30 -81 -96 -89 -136 -15 -81 0 -144 72 -299 99 -215 163 -271 302 -263 l60 3 128 -230 c71 -126 143 -244 159 -262 48 -54 86 -54 208 -3 56 24 110 50 121 59 28 24 48 79 41 112 -4 16 -67 135 -140 265 l-134 235 44 19 c163 70 334 99 466 81 95 -14 98 -15 121 -52 36 -57 125 -73 185 -34 34 22 63 74 63 112 0 18 -34 106 -80 209 -75 165 -80 178 -64 195 40 45 55 146 32 223 -25 83 -132 166 -214 166 -17 0 -31 22 -74 118 -85 189 -117 248 -144 265 -36 24 -95 30 -132 13z m171 -711 c103 -225 189 -416 192 -422 4 -10 -15 -12 -84 -7 -105 8 -225 -7 -331 -41 l-73 -23 -9 21 c-4 12 -64 144 -133 294 l-125 271 78 51 c101 66 180 138 237 218 25 35 49 61 53 56 4 -4 92 -192 195 -418z m289 185 c19 -22 38 -55 42 -75 7 -40 0 -103 -14 -117 -7 -7 -81 142 -119 239 -10 26 56 -9 91 -47z m-596 -1055 c97 -171 132 -243 130 -262 -3 -23 -15 -32 -103 -70 -77 -34 -105 -42 -120 -35 -20 9 -292 478 -283 487 5 5 231 113 238 114 3 1 65 -105 138 -234z"/> <path d="M2056 1905 c-20 -10 -21 -19 -21 -140 l0 -130 35 -11 c29 -10 36 -17 38 -43 2 -17 8 -31 13 -31 6 0 31 16 56 35 44 34 49 35 133 35 118 0 120 3 120 147 0 92 -3 112 -17 126 -15 12 -49 16 -177 19 -97 2 -168 -1 -180 -7z m274 -110 c6 -8 10 -22 8 -32 -3 -16 -15 -18 -103 -18 -88 0 -100 2 -103 18 -7 36 16 47 103 47 60 0 86 -4 95 -15z"/> <path d="M1963 1429 c-12 -12 -41 -79 -64 -150 -48 -142 -48 -172 4 -197 31 -15 31 -17 16 -61 -7 -19 -8 -36 -3 -41 6 -6 41 1 86 15 l76 24 96 -34 c105 -38 133 -42 160 -22 22 16 106 247 106 291 0 19 -8 40 -18 49 -20 18 -385 147 -417 147 -11 0 -30 -10 -42 -21z m215 -194 c17 -24 32 -50 32 -58 0 -15 -115 -52 -131 -42 -14 9 -11 28 12 90 25 68 42 70 87 10z"/> </g>
            </svg> 
            <span>social media</span>
          </a> 
        </li>
        
        <hr>
        <li class="sidebar-list-item active">
          <a href="/<%=my_link%>/statistics">
            <svg width="2.2pc" fill="currentColor" viewBox="0 0 225.000000 225.000000">  <g transform="translate(0.000000,225.000000) scale(0.100000,-0.100000)"> <path d="M1831 2008 c-49 -25 -81 -74 -81 -123 0 -26 -13 -40 -86 -100 l-86 -70 -63 0 c-52 0 -68 -4 -87 -22 -27 -26 -45 -28 -117 -12 -41 8 -54 17 -70 44 -27 46 -65 68 -116 68 -74 0 -135 -60 -135 -133 0 -32 -8 -41 -91 -107 -89 -71 -91 -72 -138 -66 -78 9 -151 -47 -151 -117 0 -21 -14 -34 -87 -76 -71 -42 -92 -50 -111 -43 -59 22 -132 -2 -167 -55 -21 -32 -21 -110 0 -142 46 -70 148 -84 206 -28 16 16 36 49 43 74 12 41 19 49 94 93 67 40 84 47 101 38 31 -17 93 -13 127 8 35 21 64 75 64 118 0 26 13 40 88 99 84 66 89 69 144 69 44 0 64 6 89 24 31 23 34 23 101 11 60 -10 70 -16 84 -41 60 -118 253 -73 254 58 0 29 11 42 91 108 90 75 91 75 137 70 113 -14 194 106 137 202 -37 63 -109 84 -174 51z"/> <path d="M1783 1270 c-12 -5 -26 -18 -32 -29 -7 -13 -11 -191 -11 -539 0 -497 1 -521 19 -543 18 -23 26 -24 131 -24 105 0 113 1 131 24 18 22 19 46 19 541 0 285 -3 526 -6 535 -12 30 -59 45 -146 44 -46 0 -93 -4 -105 -9z"/> <path d="M994 1099 c-18 -20 -19 -43 -19 -471 l0 -450 28 -24 c25 -22 37 -24 122 -24 85 0 97 2 122 24 l28 24 0 450 c0 428 -1 451 -19 471 -17 19 -30 21 -131 21 -101 0 -114 -2 -131 -21z"/> <path d="M1380 950 c-19 -19 -20 -33 -20 -398 0 -450 -11 -415 132 -421 100 -3 140 8 157 45 7 17 11 139 11 385 l0 360 -25 24 c-23 23 -31 25 -130 25 -92 0 -108 -3 -125 -20z"/> <path d="M611 864 c-20 -26 -21 -38 -21 -345 0 -215 4 -326 11 -343 17 -37 57 -48 157 -45 142 6 132 -23 132 381 0 411 13 378 -149 378 -106 0 -110 -1 -130 -26z"/> <path d="M231 714 c-20 -25 -21 -39 -21 -279 0 -319 -9 -300 150 -300 160 0 150 -19 150 304 0 319 9 301 -152 301 -103 0 -107 -1 -127 -26z"/> </g> </svg>
            <span>إحصائيات</span>
          </a> 
        </li>
        
      </ul>
  
    </div>
    <div class="app-content">
      
<%
      var month = []

      for ( let i = 0;i < 31;i++ ) {
        month.push(0)
      }

      var dates = [], differences = [], sold = [], prr_nnn = []
      sales.forEach(sl=>{
        for ( let i = 0;i < parseInt(sl.prr_n);i++ ) {
          if ( sl.date.split('/')[0].split('-')[2] == new Date().getFullYear() && sl.date.split('/')[0].split('-')[1] == new Date().getMonth()+1-chhr ) {
            dates.push( sl.date.split('/')[0].split('-')[0] )
            sold.push( sl.prrid )
          }
        }
      })

      dates.forEach(date=>{
        differences.push( 30 - date )
      })

      differences.forEach(function (x) { month[x] = (month[x] || 0) + 1; });
        
      for ( let i = 0;i < 30;i++ ) {
      
%>
        <t class="data_encrypted"><%= month[i] %></t>
<%
      }
%>
<%

    sold.forEach(s=>{
      const counts = [];
      sold.forEach(function (x) { counts[x] = (counts[x] || 0) + 1; });
      prr_nnn.push(s+"/"+counts[s])
    })
    let prr_nnn_clean = [...new Set(prr_nnn)]
    prr_nnn_clean.forEach(s=>{
%>
  <t class="data_encrypted1"><%= s %></t>
<%
    })
%>
  

  <h1 style="text-align: center;color: #27c7c7;">مبيعات هذا الشهر</h1>

  <div class="chart-container">
    <canvas id="salesChart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="productChart1"></canvas>
  </div>


</div>
  <!-- partial -->
  
  
  <script src="/js/jquery-1.11.0.min.js"></script>
  <script src="/js/jquery-migrate-1.2.1.min.js"></script>
  <script src="/js/statistics.js"></script>
  
  
  </body>
</html>